<!doctype html >
<html class="no-js" mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
<!--    <link rel="stylesheet" href="/vendors/selectFX/css/cs-skin-elastic.css">-->

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/editormd/css/editormd.min.css">
<!--    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>-->
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel" th:insert="~{admin/copypart :: copyleft(act='editessay')}">
    </aside>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header" th:insert="admin/copypart :: copyright">
        </header>
        <form method="post" onsubmit="return true" action="##" id="form1" enctype="multipart/form-data">
<!--                <label for="exampleInputName2">文章标题</label>-->
            <label class="form-inline" /><h4>文章标题&nbsp;</h4>
                <input type="text" class="form-control" name="title" id="essaytitle"/>
                &nbsp;&nbsp;<strong>作者</strong> &nbsp;
                <select class="form-control" name="author">
                    <option>Canaan</option>
                    <option>其他</option>
                </select>
                &nbsp;&nbsp;<strong>类型</strong>&nbsp;
                <select class="form-control" name="original">
                    <option>原创</option>
                    <option>转载</option>
                </select>
            </label>
            <div id="md-content" style="z-index: 1 !important;">
                <textarea name="text" id="essaycontent"></textarea>
            </div>
            <input type="hidden" name="id" value="123" readonly >
            <strong >文章标签&nbsp;</strong>
            <label class="checkbox-inline">
                <input type="checkbox" id="label1" value="java" name="label"> java
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="label2" value="mysql" name="label"> mysql
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="label3" value="算法" name="label"> 算法
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="label4" value="springboot" name="label"> springboot
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="label5" value="javaweb" name="label"> javaweb
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="label6" value="操作系统" name="label"> 操作系统
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="label7" value="吹水" name="label"> 吹水
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="label8" value="前端" name="label"> 前端
            </label>
            <br>
            <strong>文章描述：</strong><textarea class="form-control" rows="3" maxlength="100" name="essaydescribe" id="essaydescribe"></textarea>
            <strong>封面图片：</strong><input type="file" id="exampleInputFile" name="essayimg">
            <p style="float: right"><input type="button" value="发布文章" id="but">&nbsp;
            <input type="reset" value="重置"></p>
        </form>
    </div>
    <!-- markdown编辑器-->
    <script src="/js/jquery.min.js"></script>
    <!-- 引入js -->
    <script src="/editormd/editormd.min.js"></script>
    <script src="/editormd/lib/marked.min.js"></script>


    <script type="text/javascript">
        //初始化Markdown编辑器
        $(function() {
            contentEditor = editormd("md-content", {
                width   : "100%",//宽度
                height  : 500,//高度
                syncScrolling : "single",//单滚动条
                path    : "/editormd/lib/",//依赖的包路径
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/admin/imageUpload"
            });
        });


    </script>


    <link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.css" rel="stylesheet">
    <script src="/js/sweetalert.min.js"></script>
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
<!--    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>-->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <!--  Chart js -->
    <script src="/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/assets/js/widgets.js"></script>

    <script>
        function hi(){
            var selval="";
            var all = document.getElementsByName('label');
            var k = 0;
            for(var i = 1; i < all.length; i++){
                if(all[i].checked){
                    if(k == 0){
                        selval = selval + all[i].value;
                        k = 1;
                    }
                    else {
                        selval = selval + "," + all[i].value;
                    }
                }
            }
            $("input[id=selectlabel]").val(selval);
            // document.getElementById("selectlabel").value = selval;
        }

        // 发布文章
        $(function(){

            $("#but").click(function(){
                var formData = new FormData($("#form1")[0]);
                console.log(formData);
                $.ajax({
                    type: "POST",//方法类型
                    url: "/admin/postessay" ,//url
                    // data: $('#form1').serialize(),
                    data: formData,
                    processData:false,
                    contentType: false,
                    mimeType:"multipart/form-data",
                    success: function (result) {
                        // 内容清空
                        $("#essaycontent").val("");
                        $("#essaydescribe").val("");
                        $("#essaytitle").val("");
                        swal(result);
                    },
                    error : function(XMLHttpRequest, textStatus, errorThrown) {
                        // 状态码
                        console.log(XMLHttpRequest.status);
                        // 状态
                        console.log(XMLHttpRequest.readyState);
                        // 错误信息
                        swal("发布失败");
                    }
                });
            });
        });

    </script>

    <script th:inline="javascript">

        // 读取文章临时记录进行赋值
        $("#essaycontent").val([[${essaycontent}]]);
        $("#essaydescribe").val([[${essaydescribe}]]);
        $("#essaytitle").val([[${essaytitle}]]);
        // 定时保存文章临时记录到数据库
        setInterval(f2, 5000);
        function f2(){
            var essaycontent = $("#essaycontent").val();
            var essaydescribe = $("#essaydescribe").val();
            var essaytitle = $("#essaytitle").val();
            var s = "essaycontent=" + essaycontent + "&essaydescribe=" + essaydescribe + "&essaytitle=" + essaytitle;
            $.ajax({
                type : "post",
                url : "/admin/postessaytemporary",
                data : s,
                success : function (message){

                },
                error : function (){

                }
            });
        }
    </script>
</body>

</html>
