<!doctype html >
<html class="no-js" mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Canaan blog</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/editormd/css/editormd.min.css">

<!--    <style>-->
<!--        .kk{-->
<!--            width: 50%;-->
<!--        }-->
<!--    </style>-->

</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel" th:insert="~{admin/copypart :: copyleft(act='tool')}">
    </aside>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header" th:insert="admin/copypart :: copyright">
        </header>
        <div class="card">
            <div class="card-header">
                <strong class="card-title mb-3">啦啦啦</strong>
            </div>
            <div class="card-body">
                <div class="mx-auto d-block">
                    <form class="kk">
                        <strong>markdown转html：&nbsp;</strong>
                        <input type="file">
                        <button type="button" class="btn btn-info">转化</button>
                    </form>
                </div>
                <hr>
                <div class="mx-auto d-block">
                    <form class="kk">
                        <strong>文件上传：&nbsp;</strong>
                        <input type="file">
                        <button type="button" class="btn btn-info">上传</button>
                    </form>
                </div>
                <hr>
                <div class="mx-auto d-block">
                    <form class="kk">
                        <strong>文件下载：&nbsp;</strong>
                        <input type="text">
                        <button type="button" class="btn btn-info" >下载</button>
                    </form>
                </div>
                <hr>
                <div class="mx-auto d-block">
                    <form class="kk">
                        <strong>图片压缩：&nbsp;</strong>
                        <input type="file">
                        <button type="button" class="btn btn-info" >压缩</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- markdown编辑器-->
    <script src="/js/jquery.min.js"></script>

    <link href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.css" rel="stylesheet">
    <script src="/js/sweetalert.min.js"></script>
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <!--  Chart js -->
    <script src="/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/assets/js/widgets.js"></script>


</body>

</html>
