<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cananblog.mapper.ResourceMapper">
    <!--配置了java对象与数据库表之间的映射-->

    <select id="queryResourceList" resultType="Resource">
        select *from resource;
    </select>
</mapper>
