

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="林强,www.fallinlovemy.cn,930054439@qq.com" />
    <meta name="robots" content="all" />
    <title>燕十三&#183;模板分享</title>
    <link rel="ICON" href="/logo.png">
    <link rel="SHORTCUT ICON" href="/logo.png">
    <!--[if lt IE 11]><script>window.location.href="https://www.yanshisan.cn/DisableAccess.html";</script><![endif]-->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <link href="/css/gloable?v=5vBhdKLCuNARQnnIXBH8-ihOZ_vTOyVALRB1AO8lGtA1" rel="stylesheet"/>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?db61211eab38025ea7cb1aa72611175a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <meta name="keywords" content="模板分享" />
    <meta name="description" content="重新整理了下模板（首页，文章列表，阅读文章，留言板，友链）">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://www.fallinlovemy.cn/image/cover/201853014484278.jpg" />
    <meta property="og:title" content="模板分享" />
    <meta property="og:description" content="重新整理了下模板（首页，文章列表，阅读文章，留言板，友链）" />
    <meta property="og:author" content="燕十三" />
    <meta property="og:release_date" content="2019/2/20 11:23:59" />
    <link href="/css/blog?v=6aU7D_vZn5XKW4Lk492-p_uOGg5sw4vrxjY107lXg9Y1" rel="stylesheet"/>

    <link href="/css/read?v=h0_DFEYh1fmUuyJgrTj_4-uVafBiPRiIVqB4d5vDtTc1" rel="stylesheet"/>


    <script src="/js/xss.js"></script>
    <script src="/js/plugins/highlight/highlight.pack.js"></script>
    <link href="/js/plugins/highlight/styles/monokai-sublime.css" rel="stylesheet" />
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
<div class="header">
</div>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="javascript:void(0)" class="header-logo" id="logo">Mr.Yss</a>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="/Blog/Index">首页</a></li>
                    <li><a href="/Blog/Article">博客</a></li>
                    <li><a href="/Message/Index">留言</a></li>
                    <li><a href="/Diary/Diarys">日记</a></li>
                    <li><a href="/Link/Links">友链</a></li>
                    <li><a href="/About/Index">关于</a></li>
                </ul>
            </nav>
            <a href="/User/QQLogin" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</header>
<div class="doc-container" id="doc-container">


    <div class="container-fixed">
        <div class="col-content" style="width:100%">
            <div class="inner">
                <article class="article-list">
                    <input type="hidden" value="1" id="blogtypeid" />
                    <section class="article-item">
                        <aside class="title" style="line-height:1.5;">
                            <h4 class="mt05 f-fwn">
                                模板分享
                                <button class="layui-btn layui-btn-primary layui-btn-xs" id="btn-volume" title="静音"><i class="fa fa-volume-up fa-fw"></i></button>
                            </h4>
                            <p class="fc-grey fs-14">
                                <small>
                                    作者：<a href="javascript:void(0)" target="_blank" class="fc-link">燕十三</a>
                                </small>
                                <small class="ml10">围观群众：<i class="readcount">11269</i></small>
                                <small class="ml10">更新于 <label>2019/2/20 11:23:59</label> </small>
                            </p>
                        </aside>
                        <div class="time mt10" style="padding-bottom:0;">
                            <span class="day">20</span>
                            <span class="month fs-18">2<small class="fs-14">月</small></span>
                            <span class="year fs-18">2019</span>
                        </div>
                        <div class="content artiledetail" style="border-bottom: 1px solid #e1e2e0; padding-bottom: 20px;">

                            <p>重新整理了下模板（首页，文章列表，阅读文章，留言板，友链），日记和关于页面不打算整理，因为没什么整理的<img src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/3c/pcmoren_wu_org.png" alt="[污]" data-w-e="1">，有需要的可以看看。</p><p>地址：<a href="https://gitee.com/yssgit/yan_shisan_blog_template.git" target="_blank" style="color: rgb(77, 128, 191);">https://gitee.com/yssgit/yan_shisan_blog_template.git</a></p><p><br></p>
                            <div class="copyright mt20">
                                <p class="f-toe fc-black">
                                    非特殊说明，本文版权归 燕十三 所有，转载请注明出处.
                                </p>
                                <p class="f-toe">
                                    本文标题：
                                    <a href="javascript:void(0)" class="r-title">燕十三</a>
                                </p>
                                <p class="f-toe">
                                    本文网址：
                                    <a href="https://www.yanshisan.cn/Blog/Read/12">https://www.yanshisan.cn/Blog/Read/12</a>
                                </p>
                            </div>
                            <div id="aplayer" style="margin:5px 0"></div>
                            <h6>延伸阅读</h6>
                            <ol class="b-relation"></ol>
                        </div>
                        <div class="bdsharebuttonbox share" data-tag="share_1">
                            <ul>
                                <li class="f-praise"><span><a class="s-praise"></a></span></li>
                                <li class="f-weinxi"><a class="s-weinxi" data-cmd="weixin"></a></li>
                                <li class="f-sina"><a class="s-sina" data-cmd="tsina"></a></li>
                                <li class="f-qq" href="https://www.yanshisan.cn/Blog/Read/12" title="模板分享" desc="重新整理了下模板（首页，文章列表，阅读文章，留言板，友链）" cover="https://www.yanshisan.cn//image/cover/201853014484278.jpg"><i class="fa fa-qq"></i></li>
                                <li class="f-qzone"><a class="s-qzone" data-cmd="qzone"></a></li>
                            </ul>
                        </div>
                        <div class="f-cb"></div>
                        <div class="mt20 f-fwn fs-24 fc-grey comment" style="border-top: 1px solid #e1e2e0; padding-top: 20px;">
                        </div>
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>发表评论</legend>
                            <div class="layui-field-box">
                                <div class="leavemessage" style="text-align:initial">
                                    <form class="layui-form blog-editor" action="">
                                        <input type="hidden" name="articleid" id="articleid" value="12">
                                        <div class="layui-form-item">
                                            <textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                                        </div>
                                        <div class="layui-form-item">
                                            <button class="layui-btn" lay-submit="formLeaveMessage" lay-filter="formLeaveMessage">提交留言</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </fieldset>
                        <ul class="blog-comment" id="blog-comment" page-count="4"></ul>
                    </section>
                </article>
            </div>
        </div>

    </div>



</div>
<footer class="grid-footer">
    <div class="footer-fixed">
        <div class="copyright">
            <div class="info">
                <div class="contact">
                    <a href="javascript:void(0)" class="github" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://wpa.qq.com/msgrd?v=3&uin=930054439&site=qq&menu=yes" class="qq" target="_blank" title="930054439"><i class="fa fa-qq"></i></a>
                    <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=gbiysbG0tbWyuMHw8K-i7uw" class="email" target="_blank" title="930054439@qq.com"><i class="fa fa-envelope"></i></a>
                    <a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
                </div>
                <p class="mt05">
                    Copyright &copy; 2018-2022 燕十三 All Rights Reserved V.1.0.0 备案号:<a style="color:white" href="http://www.beian.miit.gov.cn/">蜀ICP备18008600号</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="/layui/layui.js"></script>
<script src="/bundles/gloable?v=Tx8E_jlefc-qHqMr9nEx3RqfoLEiCOebu1R4XsPneBk1"></script>

<script>NProgress.start();</script>

<script src="/bundles/blog?v=9nVRiS3vtrfwYv26Br5kedImco8uKcU1A7X5Ltvmyfc1"></script>

<script src="/bundles/read?v=gP3tqgTWPgNg5vxu9L8KKyir3WfbwzEg3LRdbixQWwk1"></script>




<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;
        var audio = new Array();
        var musicobj = [{"ID":8,"BlogID":12,"SongName":"神木有灵（梦幻西游巫蛮儿同人曲）","SingerName":"银临","Url":"1416193088","Cover":"http://p2.music.126.net/JfCT3qEzMnKHR6KrqZykhA==/109951164620670666.jpg","MusicType":2}];
        var playerurl;
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            autoplay: false,
            volume: 0.5
        });
        if (musicobj.length > 0) {
            playerurl = sessionStorage.getItem("songmid-" + musicobj[0].Url);
            if (playerurl == null) {
                if (musicobj[0].MusicType == 1) {//qq
                    var url = 'https://c.y.qq.com/base/fcgi-bin/fcg_music_express_mobile3.fcg?format=json&platform=yqq&cid=205361747&songmid=' + musicobj[0].Url + '&filename=C400' + musicobj[0].Url + '.m4a&guid=1684916857';
                    $.ajax({
                        url: url,
                        type: "get",
                        dataType: 'jsonp',
                        success: function (data) {
                            console.log(data.data.items[0].vkey);
                            playerurl = 'http://ws.stream.qqmusic.qq.com/' + data.data.items[0].filename + '?fromtag=66&guid=1684916857&vkey=' + data.data.items[0].vkey;
                            audio.push({
                                name: musicobj[0].SongName,
                                artist: musicobj[0].SingerName,
                                url: playerurl,
                                cover: musicobj[0].Cover
                            });
                            ap.list.clear();
                            ap.list.add(audio);
                            ap.play();
                            sessionStorage.setItem("songmid-" + musicobj[0].Url, playerurl);
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                } else if (musicobj[0].MusicType == 2) {//wy
                    playerurl = "http://music.163.com/song/media/outer/url?id=" + musicobj[0].Url + ".mp3";
                    audio.push({
                        name: musicobj[0].SongName,
                        artist: musicobj[0].SingerName,
                        url: playerurl,
                        cover: musicobj[0].Cover
                    });
                    ap.list.clear();
                    ap.list.add(audio);
                    ap.play();
                    sessionStorage.setItem("songmid-" + musicobj[0].Url, playerurl);
                }
            } else {
                audio.push({
                    name: musicobj[0].SongName,
                    artist: musicobj[0].SingerName,
                    url: playerurl,
                    cover: musicobj[0].Cover
                });
                ap.list.clear();
                ap.list.add(audio);
                ap.play();
            }
        }
        $("#btn-volume").click(function () {
            if ($(this).attr("title") == "开启") {
                ap.play();
                $(this).attr("title", "静音");
                $(this).children().attr("class", "fa fa-volume-up fa-fw");
            } else {
                ap.pause();
                $(this).attr("title", "开启");
                $(this).children().attr("class", "fa fa-volume-off fa-fw");
            }
        })
    });
</script>

<script>
    window.onload = function () {
        NProgress.done();
    };
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</body>
</html>
